name: Publish

on:
  push:
    branches:
      - main
    paths-ignore:
      - CHANGELOG.md
      - LICENSE
      - README.md
      - renovate.json
      - '.github/workflows/**'
      - .releaserc.yaml
      - .scalafix.conf
      - .scalafmt.conf
      - 'package*.json'

jobs:
  build:
    name: Build and test
    uses: ./.github/workflows/test.yml

  publish:
    name: Publish on Maven Central and GitHub
    needs:
      - build
    runs-on: ubuntu-24.04
    env:
      TERM: dumb
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup scala environment
        uses: olafurpg/setup-scala@v14
        with:
          java-version: openjdk@1.17
      - name: Generate scaladoc site
        run: sbt makeSite
      - name: Publish on GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: target/site
      - name: Install gnupg
        run: sudo apt update && sudo apt install -y gnupg
      - name: Decode PGP key
        run: echo $PGP_SECRET | base64 --decode | gpg --batch --import
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - name: Install dependencies
        run: npm install
      - name: Publish plugin
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}